/node_modules

/public/classroom
/public/audios/uploads
/public/books/uploads
/pages
/uploads
/build

.env
.DS_Store
*.http

# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/web/node_modules

# testing
/web/coverage

# production
/web/build
/web/pages

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#testing files
/web/public/files

.env