<div class="row no-margin" style="background-color: #FFFFFF;">
  <div class="sidenav-student col m2 no-padding" style="height: 100vh;">
    <br>
    <div class="sidenav-student-menu inbox">
      <a href="javascript:;"><h6 class="no-margin">收件箱</h6></a>
    </div>
    <div class="sidenav-student-menu purple-color">
      <a href="javascript:;">课程表</a>
    </div>
    <div class="sidenav-student-menu red-color">
      <a href="javascript:;">课后作业</a>
    </div>
    <div class="sidenav-student-menu cyan-color">
      <a href="javascript:;">绘本资源</a>
    </div>
    <div class="sidenav-student-menu blue-color">
      <a href="javascript:;">其他</a>
    </div>
  </div>

  <div class="main-student col m10">
    <br>
    <%= react_component("container/calendar/CalendarContainer", {
      id: "course-calendar"
    }) %>
  </div>
</div>

<script>
  $(document).on('ready', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, {});
  });
</script>
