<div class="row no-margin" style="background-color: #eeeeee;">
  <div class="sidenav-student col m2 no-padding" style="height: 100vh;">
    <br>
    <div class="sidenav-student-menu inbox">
      <a href="javascript:;"><h6 class="no-margin">收件箱</h6></a>
    </div>
    <div class="sidenav-student-menu purple-color">
      <a href="javascript:;">课程表</a>
    </div>
    <div class="sidenav-student-menu red-color">
      <a href="javascript:;">课后作业</a>
    </div>
    <div class="sidenav-student-menu cyan-color">
      <a href="javascript:;">绘本资源</a>
    </div>
    <div class="sidenav-student-menu blue-color">
      <a href="javascript:;">其他</a>
    </div>
  </div>

  <div class="main-student col m10">
    <br>
    <div class="row no-margin">
      <div class="col m1">
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn cyan' href='#' data-target='dropdown1'>月</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="javascript:;" id="student-month">月</a></li>
          <li><a href="javascript:;" id="student-week">周</a></li>
          <li><a href="javascript:;" id="student-day">日</a></li>
          <li><a href="javascript:;" id="student-two-week">2周</a></li>
          <li><a href="javascript:;" id="student-three-week">3周</a></li>
        </ul>
      </div>
      <div class="col m1 no-padding">
        <button id="student-today-btn" class="btn white black-text">今天</button>
      </div>
      <div class="col m1 no-padding">
        <div class="chip white m-box-shadow" style="cursor: pointer;" id="student-prev">&lt;</div>
        <div class="chip white m-box-shadow" style="cursor: pointer;" id="student-next">&gt;</div>
      </div>
      <div class="col m6"><h5 style="margin-top: 5px;" id="student-calendar-date" class="no-margin center-align"></h5></div>
      <div class="col m3"></div>
    </div>
    <br>
    <div id="student-calendar" style="height: 800px;"></div>
  </div>
</div>

<script>
  $(document).on('ready', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, {});
  });
</script>
