<div class="bg-light-grey">
  <div class="container">
    <br>
    <br>
    <h3 class="center no-margin airfont lg">学员调查问卷</h3>

    <div class="row">
      <div class="col s12 m10 offset-m1">
        <h5>请家长务必仔细填写此调查问卷, 我们会根据此问卷安排对应试课老师和绘本 (<span style="color: red;">*</span> 为必填项)</h5>
      </div>
    </div>

    <%= render 'form', student: @student %>

    <br>
    <br>
    <br>
    <br>
  </div>
</div>

<script>
  $(document).ready(function() {
    M.updateTextFields();
  });

  $(document).ready(function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });
</script>