.airfont {
  font-weight: 800 !important;
  margin-bottom: 0px !important;
  line-height: 30px !important;
  letter-spacing: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  color: rgb(72, 72, 72) !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.airfont .sm {
  font-size: 24px !important;
}

.airfont .md {
  font-size: 34px !important;
}

.airfont .lg {
  font-size: 40px !important;
}

.r-font-color {
  color: #171718;
}