.student-form-button {
  padding: 15px 30px 15px 30px;
  background-color: #4CB5AB;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.single-item-wrap {
  line-height: 1.54em;
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
}

.single-item {
  display: block;
  font-weight: 600;
  padding: 11px 15px;
  border-radius: 2px;
  color: rgba(0,0,0,.6);
}

.single-item.active {
  color: #fafbfc;
  background: rgb(2, 204, 186) none repeat scroll 0% 0%;
}



.sidenav-student {
  // height: 100%; /* Full-height: remove this if you want "auto" height */
  // width: 200px; /* Set the width of the sidebar */
  // width: 16%;
  // position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  // background-color: #EEEEEE;
  overflow-x: hidden; /* Disable horizontal scroll */
  // padding-top: 64px;
  // display: block;
}

.sidenav-student-menu {
  padding: 16px 8px 16px 20px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav-student-menu a {
  color: #333333;
}

.sidenav-student-menu.inbox:hover {
  background-color: #F7A738;
}

.sidenav-student-menu.inbox:hover h6 {
  color: white;
}

.sidenav-student-menu.cyan-color {
  border-left: 4px solid #4CB5AB;
}

.sidenav-student-menu.cyan-color a:hover {
  color: #4CB5AB;
}

.sidenav-student-menu.purple-color {
  border-left: 4px solid #A25DDC;
}

.sidenav-student-menu.purple-color a:hover {
  color: #A25DDC;
}

.sidenav-student-menu.red-color {
  border-left: 4px solid #F4617D;
}

.sidenav-student-menu.red-color a:hover {
  color: #F4617D;
}

.sidenav-student-menu.blue-color {
  border-left: 4px solid #3498db;
}

.sidenav-student-menu.blue-color a:hover {
  color: #3498db;
}

@media only screen and (min-width: 1000px) {
  .sidenav-student-menu.inbox h6 {
    font-size: 20px;
  }
  .sidenav-student-menu {
    padding: 20px 8px 20px 25px;
    text-decoration: none;
    font-size: 18px;
  }
}

/* Style page content */
.main-student {
  // margin-left: 16%; /* Same as the width of the sidebar */
  padding: 0px 20px;
  overflow-y: scroll;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}