.shrink-content {
  padding: 50px 50px 50px 50px;
}

.stp-button {
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: aqua;
}

.form-error-li {
  padding: 10px 20px 10px 20px;
  background-color: #e74c3c;
  color: white;
  margin-bottom: 3px;
  border-radius: 5px;
}