<nav>
  <div class="nav-wrapper cyan">
    <a href="#" class="brand-logo center">Lighters</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">注册</a></li>
      <li><a href="collapsible.html">登录</a></li>
    </ul>
  </div>
</nav>