<% if not flash.empty? %>
  <% flash.each do |key, value| %>
    <div class="row">
      <div class="flash-notice <%= key %> center-align col s12 m4 offset-m4"><%= value %></div>
    </div>
  <% end %>
<% end %>